!!! 5
html
	head
		title FriendScrobbler.com - Scrobble together!
	link(rel='stylesheet', href='/style.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/scrobbler.js')
	body
		p.logo
			span.friend Friend
			span.scrobbler Scrobbler
		p Have you ever been at your friends place and played really nice songs with his/her Last.fm account?
			br
			span Use Friend
			span.scrobbler Scrobbler
			span to scrobble these songs simultaneously to your account too. Because scrobbling together is more fun!
		!= body
		p.footer Powered by <a href="http://last.fm">Last.fm</a> - Twitter: <a href="http://twitter.com/Hanzomon">Hanzomon</a> - E-Mail: <a href="mailto:support@friendscrobbler.com">support@friendscrobbler.com</a>